<header id="page-topbar">
    <div class="navbar-header container">
        <div class="col-md-2">
            <div class="navbar-brand-box d-flex align-items-left">
                <a href="index.html" class="logo">
                    <span>
                        <img src="../../../../assets/images/job.png" alt="Home" height="48">
                    </span>                   
                </a>
                <h2 class="center">My Portal</h2>
            </div>
        </div>
        <div class="col-md-3 offset-md-7 user-dropdown-ajust col-sm-2">
            <app-user-dropdown></app-user-dropdown>
        </div>
</div>
</header>